[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    useless-object-inheritance,
    unspecified-encoding,
    consider-using-f-string,
    duplicate-string-formatting-argument,
    too-many-instance-attributes,

[DESIGN]
max-parents=15
